calculator.wsdl

<definitions name="CalculatorService"
             targetNamespace="http://example.com/calculator"
             xmlns:tns="http://example.com/calculator"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema targetNamespace="http://example.com/calculator">
            <xsd:element name="addRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="a" type="xsd:float"/>
                        <xsd:element name="b" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="subtractRequest">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="a" type="xsd:float"/>
                    <xsd:element name="b" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            </xsd:element>
            <xsd:element name="subtractResponse">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="multiplyRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="a" type="xsd:float" />
                        <xsd:element name="b" type="xsd:float" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
           <xsd:element name="multiplyResponse">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:float"/>                
                </xsd:sequence>
            </xsd:complexType>
           </xsd:element> 

           <xsd:element name="divideRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="a" type="xsd:float"/>
                        <xsd:element name="b" type="xsd:float" />
                    </xsd:sequence>
                </xsd:complexType>
           </xsd:element>
           <xsd:element name="divideResponse">
                <xsd:complexType>
                    <xsd:sequence>
                         <xsd:element name="result" type="xsd:float" />
                    </xsd:sequence>
                </xsd:complexType>
           </xsd:element>
        </xsd:schema>
    </types>
    <message name="addRequest">
        <part name="parameters" element="tns:addRequest"/>
    </message>
    <message name="addResponse">
        <part name="parameters" element="tns:addResponse"/>
    </message>
    <message name="subtractRequest">
        <part name="paramaters" element="tns:subtractRequest"/>
    </message>
    <message name="subtractResponse">
        <part name="parameters" element="tns:subtractResponse" />
    </message>
    <message name="multiplyRequst">
        <part name="paramaters" element="tns:multiplyRequest" />
    </message>
    <message name="multiplyResponse">
        <part name="parameters" element="tns:multiplyResponse" />
    </message>
    <message name="divideRequest">
        <part name="paramaters" element="tns:divideRequest" />
    </message>
    <message name="divideResponse">
        <part name="parameters" element="tns:divideResponse" />
    </message>
    <!-- Similarly, define messages for subtract, multiply, and divide -->
    <portType name="CalculatorPortType">
        <operation name="add">
            <input message="tns:addRequest"/>
            <output message="tns:addResponse"/>
        </operation>
        <operation name="subtract">
            <input message="tns:subtractRequest" />
            <output message="tns:subtractResponse"/>
        </operation>
                <operation name="multiply">
            <input message="tns:multiplyRequest"/>
            <output message="tns:multiplyResponse"/>
        </operation>
        <operation name="divide">
            <input message="tns:divideRequest"/>
            <output message="tns:divideResponse"/>
        </operation>

    </portType>
    <binding name="CalculatorBinding" type="tns:CalculatorPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="add">
            <soap:operation soapAction="http://example.com/calculator/add"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="subtract">
            <soap:operation soapAction="http://example.com/calculator/subtract"/>
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
                <operation name="multiply">
            <soap:operation soapAction="http://example.com/calculator/multiply"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="divide">
            <soap:operation soapAction="http://example.com/calculator/divide"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="CalculatorService">
        <port name="CalculatorPort" binding="tns:CalculatorBinding">
            <soap:address location="http://127.0.0.1:8000/"/>
        </port>
    </service>
</definitions>
